#area-atuacao {
  border-top: 2px solid #e5e5e5;

  .logo-intro {
    padding-top: 30px;
  }

  .title-atuacao {
    margin-top: 40px;

    h2 {
      font-weight: 900;
      color: #618937;
    }

    p {
      font-size: 14px;
    }
  }

  .contato1,
  .contato2 {
    margin-bottom: 0px !important;
  }

  .retangulo1 {
    background-color: #618937;
    padding: 5px;
    border-radius: 50px;
    width: 20px;
  }

  .retangulo2 {
    background-color: #e30613;
    padding: 5px;
    border-radius: 50px;
    width: 20px;
  }

  @media (min-width: 1200px) {
    .contato {
      margin-right: 15px;
      margin-top: -162px;
      padding-left: 29px;
    }
  }

  @media (max-width: 1024px) {
    .contato {
      margin-right: 50px;
    }
  }

  .contact-info {
    color: #53585a !important;
    font-size: 13px;

    a {
      color: #53585a;
      text-decoration: none;
    }
  }

}