#banner-intro {
    height: 700px;

    .block-title-banner {
        margin-top: 180px;

        h1 {
            text-transform: uppercase;
            color: #53585a;
        }

        .initial,
        .middle,
        .last {
            font-weight: 900;
        }

        .initial {
            color: #53585a;
        }

        .middle {
            color: #b00d18;
        }

        .last {
            color: #618937;
        }
    }

    @media(max-width: 1024px) {
        background-image: url(../../assets/images/banner-mobile.jpg) !important;
        background-size: cover;
        background-position: right;
        height: auto;
    }

    @media(min-width: 1200px) {
        background-image: url(../../assets/images/banner-topo.jpg);
        background-size: cover;
        background-position: center;
    }
}