body,
html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #53585a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
    color: #53585a;
}

a,
button {
    font-family: 'Montserrat', sans-serif !important;
}

.copyright {
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px;
    font-size: 14px;
}

.owl-dots {
    margin-top: 30px !important;
}

.fa-phone-volume,
.fa-envelope {
    color: #618937;
}


.uk-modal-dialog {
    background: transparent;
}


.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.uk-close,
.uk-slidenav-next,
.uk-slidenav-previous {
    background: #b00d18;
    color: #fff;
    padding: 15px;
    font-size: 30px;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #b00d18;
    color: white;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

.fa-chevron-up {
    font-size: 30px;
}