footer {
    background: #53585a;
    padding: 50px 0;

    h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
    }

    .uk-input,
    .uk-textarea {
        border-radius: 50px;
        padding: 25px;
    }

    .uk-button-default {
        border-radius: 50px;
        color: #fff;
        background: #618937;
        font-weight: 700;
        border-color: #618937;

        &:hover {
            background: #618937;
            color: #fff;
        }
    }

    ul {
        padding: 0px !important;
        margin-top: 40px;

        >li {
            list-style: none;

            .icon-phone,
            .icon-mail,
            .icon-map {
                margin: 10px 10px;
            }

            a {
                font-weight: 700;
                color: #fff;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }


        }

        .endereco {
            color: #fff;
            margin: 10px 50px;
            font-weight: 700;
        }
    }

    .dont-display {
        display: none;
    }

    #form-erro {
        color: red;
        font-weight: bold;
        text-align: left;
        font-size: 25px;
    }

    #form-send {
        color: green;
        font-weight: bold;
        text-align: left;
        font-size: 25px;
    }
}