#galeria {
  p {
    color: #618937;
    font-weight: 700;
  }

  .uk-button-default {
    background-color: #618937;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 40px;
  }

  .grid-area,
  .grid-area-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
