header {
    background: #53585a;

    .uk-navbar {
        background: #53585a !important;

        a {
            color: #fff;
            font-weight: 700;
        }
    }
}

.uk-offcanvas-bar {
    background: #53585a;

    a {
        color: #fff !important;
        text-transform: uppercase;
        font-weight: 700;
    }
}