#quem-somos {
    .brand-intro {
        margin-top: 70px;
    }

    .intro-text {
        margin-top: 40px;
        font-size: 14px;
    }

    .title {
        margin: 30px 0px;

        h2 {
            font-weight: 500;
            text-transform: uppercase;

            span {
                font-weight: 900;
                color: #618937;
            }
        }
    }

    .bg-green {
        background: #618937;
        margin-top: 70px;
        padding-bottom: 60px;

        @media(min-width: 1200px) {
            img {
                margin-top: -100px;
            }
        }

        p {
            margin-bottom: 0px !important;
            color: #fff;
            font-weight: 700;
        }

        small {
            color: #fff;
        }

        .descricao-1,
        .descricao-2,
        .descricao-3 {
            font-weight: 100;
            font-size: 14px;
            margin-bottom: 15px !important;
        }

        @media(min-width: 1200px) {
            .descricao-3 {
                padding: 0px 54px;
            }

            .descricao-2 {
                padding: 0px 20px;
            }

            .descricao-1 {
                padding: 0px 25px;
            }
        }
    }
}