#servicos {
  .bg-green {
    background-image: url(../../assets/images/banner-middle.png);
    background-size: cover;
    background-position: center;
    margin: 50px 0px;

    .cta-text {
      margin-top: 70px;

      h2 {
        color: #fff;
        margin: 0px;
      }

      .sub-title {
        font-weight: 900;
        text-transform: uppercase;
      }

      p,
      strong {
        color: #fff;
      }
    }
  }

  .card-area {
    margin: 50px 0px;

    .title {
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
      padding-top: 20px;
      font-size: 14px;
      padding-left: 20px;

      @media (max-width: 1366px) {
        font-size: 13px;
      }

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    .text {
      color: #fff;
      font-size: 14px;
      margin-top: 0px;
      padding: 0% 10%;

      @media (max-width: 1366px) {
        font-size: 12px;
      }

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    .bg-text-green {
      background: #618937 !important;
      height: 171px;
    }

    .bg-1 {
      background-image: url(../../assets/images/man-eletrica.jpg);
      background-size: cover;
      background-position: center;
      height: 171px;
    }

    .bg-2 {
      background-image: url(../../assets/images/retrofit.jpg);
      background-size: cover;
      background-position: center;
      height: 171px;
    }

    .bg-3 {
      background-image: url(../../assets/images/man-eletronica.jpg);
      background-size: cover;
      background-position: center;
      height: 171px;
    }
  }

  .title {
    h2 {
      font-weight: 900;
      color: #618937;
    }
  }

  .before-and-after {
    border-top: 2px solid #e5e5e5;

    h2 {
      margin-top: 40px;
      font-weight: 500;
    }
  }
}