#sobre {
  .title-about {
    h1 {
      text-transform: uppercase;
      font-weight: 500;
      color: #53585a;
    }

    .initial {
      font-weight: 900;
      color: #618937;
    }
  }

  @media (min-width: 1200px) {
    .intro-text {
      padding: 5% 20% 5% 20%;
    }
  }

  @media (max-width: 900px) {
    .intro-text {
      padding: 40px;
    }
  }

  .text-area {
    p {
      font-size: 14px;
    }
  }

  .bg-gray {
    background: #ededed;
  }

  .uk-button-default {
    border-radius: 50px;
    color: #fff;
    background: #618937;
    font-weight: 700;
    border-color: #618937;

    &:hover {
      background: #618937;
      color: #fff;
    }
  }

  .bg-img {
    background-image: url(../../assets/images/bg-col.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;

    .text-banner-col {
      display: flex;
      justify-content: center;
      vertical-align: middle;

      @media (min-width: 1200px) {
        padding: 20%;
      }

      @media(max-width: 1000px) {
        padding: 10%;
      }

      h3 {
        color: #fff;
      }
    }
  }
}